/* Wrong Naming scheme */
.user-not-found {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}

.successful {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: white;
    margin-bottom: 10px;
    display:none;
}