/* Successful Register with no error codes */
.successful-register {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* Wrong Naming scheme */
.name-invalid {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* Email has already been registered */
.email-registered {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* Wrong Email Scheme */
.email-invalid {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* valid phone number */
.alert-message-valid-phone {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* Invalid Password */
.password-invalid {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* Invalid Password */
.password-no-symbols {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* Invalid Password */
.password-unconfirmed {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}