/* Successful Register with no error codes */
.successful-register {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: white;
    margin-bottom: 10px;
    display:none;
}

/* Email has already been registered */
.email-registered {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}











/* valid phone number */
.alert-message-valid-phone {
    text-align: center;
    padding: 10px;
    background: red;
    color: white;
    margin-bottom: 10px;
    display:none;
}