/* Displaying First name */
#fstName{
    position: relative;
    top: 9px;
    color: #989B9F;
}

/* Displaying Last Name */
#lstName{
    position: relative;
    top: 9px;
    color: #989B9F;
}

#gainersTable {
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

#gainersTable td, #customers th {
    border: 1px solid #ddd;
    padding: 6px;
}

#gainersTable tr:nth-child(even){background-color: #f2f2f2;}

#gainersTable tr:hover {background-color: #ddd;}

#gainersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #007bff;
    color: white;
}

#losersTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#losersTable td, #customers th {
    border: 1px solid #ddd;
    padding: 6px;
}

#losersTable tr:nth-child(even){background-color: #f2f2f2;}

#losersTable tr:hover {background-color: #ddd;}

#losersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #007bff;
    color: white;
}

/* Loading Screen Gif */
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #ecf0f1;
    background-image: url("https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
}